
@mixin tablet111 {
    @media screen and (min-width: 320px) and (max-width: 566px) {
        @content;
    }
}
.authenticated .suggestx {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: -1rem;
    justify-content: space-between;
    background-color: rgba(var(--d87,255,255,255),1);
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 600px;
    width: 100%;
    margin: auto;
    @include tablet111(){
         width: 90%;
    }
}

.authenticated .suggestx .namesx {
    display: flex;
    align-items: center;
}
.suggestx{
.namesx img{
    border-radius: 50px;
    border: 1px solid #ccc7c7;
    margin-right: 1rem;
    height: 44px;
    width: 44px
}
.use-ajax{
    text-decoration: none;
    // background-color: blue;
}
a.use-ajax{
    border-radius: 4px;
    color: rgba(var(--eca,255,255,255),1);
    font-size: 14px;
    font-weight: 600;
    padding: 5px 9px;
    background-color: rgba(var(--d69,0,149,246),1);
    border: 1px solid transparent;
}
}
.authenticated .suggestx .namesx a {
    color: black;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
}

.suggestion_test{
    position: absolute;
    top: 4rem;
    left: 24rem;
}

#block-views-block-seperate-suggesstion-page-block-1{
    h2{
        font-size: 16px;
        line-height: 24px;
        // margin: -6px 0 -6px;
        display: flex;
        justify-content: space-evenly;
        /* margin-left: 25%; */
        margin-right: 486px;
        margin-top:135px;
        @include tablet111{
            margin-top:0;
            margin-right: 76%;
        }
    }
}

  .texts {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    justify-content: space-evenly;
    /* margin-left: 25%; */
    margin-right: 515px;
    margin-top: 93px;
    position: absolute;
    @include tablet111{
        margin-right: 75%;
    }
    }
    .views-element-container{
        margin-top: 133px;
        /* position: absolute; */
        position: relative;
    }
    
    
