/web/sites/default/files
/web/sites/default/settings.local.php
/drush/contrib/
/vendor/
/web/core/
/web/modules/contrib/
/web/modules/ndp/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/
/web/themes/custom/instagram/node_modules
/web/themes/custom/instagram/css/*