@import '../feed/mixin';
.hashtags-header {
    margin: auto;
    width: 936px;
    .featured-image {
        float: left;
        margin-right: 35px;
        width: 175px;
        img {
            width: 155px;
            height: 155px;
            border-radius: 100%;
        }
    }
    .hashtag-info {
        display: flex;
        flex-direction: column;
        .meta-title {
            margin-top: 20px;
            margin-bottom: 0;
            padding-bottom: 0;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 28px;
            color: #262626;
        }
        .post-count {
            padding: 0;
            margin: 0;
            margin-top: 10px;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 16px;
            color: #262626;
        }
        .follow-hashtag-button {
            margin-top: 20px;
            padding: 4px 2px;
            text-decoration: none;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            color: white;
            width: 134px;
            text-align: center;
            background-color: #0095f6;
            background-color: rgba(var(--d69, 0, 149, 246), 1);
            border: 1px solid transparent;
            border-radius: 3px;
        }
    }
}
