@import '../feed/mixin';
.hashtags-top-posts {
    clear: both;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 15px;
    width: 936px;
    font-size: 14px;
    color: gray;
}

.top-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: max-content;
    grid-gap: 28px;
    margin: auto;
    @include mobile {
        grid-gap: 3px;
    }
    .views-row {
        width: 293px;
        height: 293px;
    }
}
