body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #fafafa;
}

@mixin mobile {
    @media screen and (max-width: 426px) {
        @content;
    }
}

@mixin tablet {
    @media screen and(min-width: 427px) and(max-width: 769px) {
        @content;
    }
}
@mixin tablet-l {
    @media screen and(min-width: 950px) {
        @content;
    }
}
@mixin laptop {
  @media screen and(min-width: 1043px) {
      @content;
  }
}


main {
    margin-top: 6%;
    @include mobile {
        margin-top: 23%;
    }
    @include tablet {
        margin-top: 10%;
    }
}

.layout-content {
    .slide {
        // display: flex;
        // position: absolute;
    }
}

.slider-view {
    margin-top: -494px;
    margin-left: 132px;
    padding-bottom: 69px;
    img {
        border: 3px solid rgb(0, 0, 0);
        }
      }
      #block-menu-insta{
        flex-direction: row;
        justify-content: center;
        letter-spacing: 1px;
        text-align: center;
        .list_post{
          display: flex;
          justify-content: center;
          letter-spacing: 1px;
          font-size: 12px;
          font-weight: 600;
          border-top: 1px solid #c5c5c5;
          margin-bottom: 0;
          padding-inline-start: 0;
          @include tablet{
              justify-content: space-around;
          
          }
          @include tablet-l{
              width: 931px;
              margin: auto;
          }
          @include mobile{
            justify-content: space-around;
          }
          li{
            list-style: none;
            padding: 20px;
      
            
            a{
              text-decoration: none;
              color: #8e8e8e;
              @include mobile{
                .link-text{
                  display: none;
                }
                .svg-inline--fa{
                  font-size: 24px;
                }
              }
              @include tablet{
                .link-text{
                  display: none;
                }
                .svg-inline--fa{
                  font-size: 24px;
                }
              }
            }
            a.is-active{
              color: #000;
              padding-top: 20px;
              @include laptop{
                border-top: 1px solid #000;
              }
              @include tablet{
               padding-top: #8e8e8e;
               color: rgb(0, 149, 246);
                fill: rgb(0, 149, 246);
              }
              @include mobile{
                padding-top:#8e8e8e;
                color: rgb(0, 149, 246);
                fill: rgb(0, 149, 246);
               }
            }
           
          }
        }
      
     
     }   
     .insta-gallery{
        display: flex;
          flex-wrap: wrap;
          justify-content: center;
          flex-direction: row;
         .views-row{
           margin-bottom: 13px;
           @include tablet{
            margin-bottom: 4px;
          }
          @include mobile{
            margin-bottom: 2px;
          }
         }
      // media for img
      img{
      
          width: 100%;
           height: 100%;
      }
      .flex_div{
          display: flex;
          flex-direction: column;
          margin-bottom: 93px;
           margin-top: 57px;
          .nopost_icon{
           margin: auto;
          width: 76px;
          height: 74px;
           overflow: hidden;
           position: relative;
           margin-bottom: 13px;
           img{
            
            width: -webkit-fill-available;
            position: absolute;
             top: -320px;
            height: auto;
            left: -211px;
            right: -207px;
            
           }
           .svg-inline--fa{
            height: 100px;
            width: 68px;
           }
          }
          .text_post{
            font-size: 28px;
            font-weight: 300;
            line-height: 32px;
          }
      }
      }
      .img-insta{
        margin-left: 10px;
        margin-right: 10px;
        @include tablet(){
          margin-left: 3px;
          margin-right: 5px;
        }
        @include mobile{
          margin-left: 2px;
          margin-right: 4px;
        }
      } 
      .new_class{
        display: flex;
        justify-content: space-between;
        @include tablet-l{
            width: 934px;
            margin: auto;
        }
        p{
          color: rgba(var(--f52,142,142,142),1);
          font-weight: 400px;
          font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
          font-size: 12px;
          line-height: 16px;
      
        }
        button{
          text-decoration: none;
          border: none;
          background: none;
          color: rgba(var(--d69,0,149,246),1);
          font-size: 14px;
          cursor: pointer;
          font-weight: bold;
        }
      }

@import "footer.scss";
@import "header.scss";
